* {
  box-sizing: border-box;
}

h1.letter-animation {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 3em;
  font-variant-caps: all-small-caps;
  color: black;
  font-family: "Roboto Mono";
  font-weight: 800;
  text-shadow: 0px 0px 5px rgb(255, 255, 255);
  letter-spacing: 15px;
  position: relative;
  margin: 68px auto;
  width: fit-content;
  padding: 2px 60px;
  background-color: lightblue;
  box-shadow: 7px 7px 5px rgb(122, 122, 122);
  border-radius: 2px;
  z-index: 1;
}

h1.letter-animation::before {
  content: "";
  position: absolute;
  height: 50%;
  width: 60%;
  border-color: #000000;
  text-shadow: 1px 1px 2px rgb(122, 122, 122);
  border-style: solid;
  border-width: 3px 0 0 3px;
  top: -20px;
  left: -30px;
}

h1.letter-animation::after {
  content: "";
  position: absolute;
  height: 50%;
  width: 60%;
  border-color: #000000;
  text-shadow: 1px 1px 2px rgb(122, 122, 122);
  border-style: solid;
  border-width: 0 3px 3px 0;
  bottom: -20px;
  right: -30px;
}

.scroll-wrapper {
  display: flex;
  position: relative;
  justify-content: space-between;
  align-items: center;
}

.recipes-container {
  overflow-x: auto;
  white-space: nowrap;
  flex-grow: 1;
  margin: 0 50px;
  scroll-behavior: smooth;
  scrollbar-width: none;
  -ms-overflow-style: none;
}

.recipes-container::-webkit-scrollbar {
  display: none;
}

.scroll-button-L,
.scroll-button-R {
  position: absolute;
  z-index: 12;
  width: 30px;
  height: 30px;
  background-color: rgb(169 176 177);
  border-radius: 50%;
  color: rgb(255 255 255);
  text-align: center;
  font-family: sans-serif;
  font-weight: bold;
  padding-top: 5px;
  box-shadow: inset 9px 0px 13px 3px #0f0101;
  cursor: pointer;
}
.scroll-button-L {
  left: 0;
}
.scroll-button-R {
  right: 0;
}
.scroll-button-L:hover,
.scroll-button-R:hover {
  opacity: 0.8;
  transform: scale(1.2);
}

.recipe-block {
  width: 42vw;
  height: 150px;
  margin: 10px 1.5vw;
  background-position: left center;
  background-size: 100%;
  vertical-align: text-bottom;
  display: inline-flex;
  flex-direction: column;
  min-height: 20vh;
}
.recipe-block:hover {
  opacity: 85%;
  transform: scale(1.05);
}
.title {
  display: inline-block;
  text-decoration: none;
  color: white;
  font-family: "Roboto Mono";
  font-weight: 800;
  margin: 0px 0px 0px 10px;
  text-shadow: 0px 0px 5px black;
  margin-top: 68px;
}

.tag {
  display: inline-block;
  background-color: black;
  color: white;
  font-weight: 400;
  font-family: "Roboto Mono";
  padding: 4px;
  margin: 2px;
  font-size: 12px;
  border-radius: 4px;
  margin-bottom: 4px;
}

.sort {
  color: black;
  background-color: white;
  border: 1px solid black;
  margin-bottom: 2px;
}

.tag-cont {
  margin-left: 8px;
}

.rm-cont {
  justify-self: right;
  text-align: right;
  flex: 1;
}

.rm {
  display: inline-block;
  height: 20px;
  width: 20px;
  background-color: rgb(255, 255, 255);
  color: rgb(9 7 7);
  font-family: sans-serif;
  font-weight: bold;
  text-align: center;
  padding: 2px;
  padding-top: 4px;
  border-radius: 50%;
  font-size: 12px;
  margin: 4px;
  box-shadow: -3px 3px 9px 1px black;
  visibility: visible;
}

#tags {
  margin-left: 8px;
  border-bottom: 1px solid rgb(53, 53, 53);
  padding-bottom: 5px;
}

#refresh {
  display: inline-block;
}

footer {
  position: fixed;
  bottom: 0;
  left: 0;
  background-color: white;
  width: 100vw;
}

footer > a:first-of-type {
  margin-right: 0px;
  padding-right: 7px;
  border-right: 1px solid black;
}

.btn {
  font-family: "Roboto Mono";
  font-size: 15px;
  color: black;
  background-color: none;
  text-decoration: none;
  padding: 3px;
  margin: 4px;
}

@media only screen and (max-width: 900px) {
  .recipe-block {
    width: 92vw;
  }
}
