* {
  box-sizing: border-box;
}

nav {
  width: 100%;
  height: auto;
  display: flex;
  align-items: baseline;
  justify-content: space-between;
  padding: 1rem;
}

.brand {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
}

.icon {
  width: 18vw;
}
.name {
  width: 30vw;
  margin-left: 20%;
}
main > a:first-of-type {
  margin-right: 1vw;
  padding-right: 1vw;
  border-right: 1px solid black;
}
.btn {
  font-family: "Roboto Mono";
  font-size: 1rem;
  color: black;
  background-color: none;
  text-decoration: none;
  padding: 0.5rem;
  margin: 0.5rem;
}
#refresh {
  display: inline;
  cursor: pointer;
}
#tags {
  text-align: right;
  /*   margin: 2vh 0.8vw;
 */
  border-bottom: 1px solid rgb(53, 53, 53);
  padding-bottom: 0.8vh;
}

.tag {
  display: inline-block;
  background-color: black;
  color: white;
  font-weight: 400;
  font-family: "Roboto Mono";
  padding: 0.5rem;
  margin: 0.5rem;
  font-size: 0.8rem;
  border-radius: 4px;
}

.sort {
  color: black;
  background-color: white;
  border: 1px solid black;
  margin-bottom: 0.5rem;
  cursor: pointer;
}
.sort:hover {
  background-color: #000000;
  color: #ffffff;
}
.clear:hover {
  cursor: pointer;
}

#lists {
  margin: 15vh 0;
}
h1.letter-animation {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 1.5rem;
  font-variant-caps: all-small-caps;
  color: black;
  font-family: "Roboto Mono";
  font-weight: 800;
  text-shadow: 2px 0px 1px rgb(255, 255, 255);
  letter-spacing: 0.5rem;
  position: relative;
  margin: 15vh auto 8vh;
  width: fit-content;
  padding: 0.3rem 3vw;
  background-color: lightblue;
  box-shadow: 3px 3px 5px rgb(122, 122, 122);
  border-radius: 2px;
  z-index: 1;
}
h1.letter-animation::before,
h1.letter-animation::after {
  content: "";
  position: absolute;
  height: 50%;
  width: 60%;
  border-style: solid;
  border-color: #000000;
  text-shadow: 1px 1px 2px rgb(122, 122, 122);
  border-radius: 3%;
}
h1.letter-animation::before {
  border-width: 0.2rem 0 0 0.2rem;
  top: -0.8rem;
  left: -1rem;
}

h1.letter-animation::after {
  border-width: 0 0.2rem 0.2rem 0;
  bottom: -0.8rem;
  right: -1rem;
}

.scroll-wrapper {
  display: flex;
  position: relative;
  justify-content: space-between;
  align-items: center;
}

.recipes-container {
  overflow-x: auto;
  white-space: nowrap;
  flex-grow: 1;
  margin: 0 4vw;
  scroll-behavior: smooth;
  scrollbar-width: none;
  -ms-overflow-style: none;
}

.recipes-container::-webkit-scrollbar {
  display: none;
}

.scroll-button-L,
.scroll-button-R {
  position: absolute;
  z-index: 3;
  width: 5vw;
  height: 23vh;
  color: rgb(216, 216, 216);
  font-size: 2rem;
  text-align: center;
  font-family: "Roboto Mono";
  font-weight: bold;
  padding-top: 8vh;
  cursor: pointer;
  transition: opacity 0.3s, transform 0.3s;
}
.scroll-button-L {
  left: 0;
}

.scroll-button-R {
  right: 0;
}

.scroll-button-L:hover,
.scroll-button-R:hover {
  opacity: 0.8;
  transform: scale(1.2);
  color: rgba(94, 94, 94, 0.376);
}
.recipe-block {
  width: 40%;
  height: 40vh;
  margin: 1vh 1vw 1vh 0;
  background-position: left center;
  background-size: 100%;
  vertical-align: text-bottom;
  display: inline-flex;
  flex-direction: column;
  min-height: 20vh;
  box-shadow: 4px 0px 10px 0px #00000075;
}
.recipe-block:hover {
  opacity: 85%;
  transform: scale(1.005);
}
.title {
  display: inline-flex;
  text-decoration: none;
  color: white;
  font-family: "Roboto Mono";
  font-weight: 800;
  margin: 0 0 0 1vw;
  text-shadow: 0px 0px 5px black;
  margin-top: 7vh;
  text-wrap: wrap;
}

.rm-cont {
  justify-self: right;
  text-align: right;
  flex: 1;
}

.rm {
  display: inline-block;
  color: rgb(255 255 255);
  font-family: sans-serif;
  font-weight: 800;
  padding: 2px;
  padding-top: 4px;
  font-size: 12px;
  margin: 5px;
  visibility: visible;
  text-shadow: 0px 0px 3px black;
  -webkit-text-stroke: medium black;
}
.tag-cont {
  margin-left: 0.8vw;
  display: flex;
  flex-wrap: wrap;
}
.hide-overflow {
  color: #ffffffd6;
  background-color: #00000070;
  cursor: pointer;
  padding: 0.4rem;
  font-style: italic;
  border-radius: 5px;
  align-self: center;
}
footer {
  position: relative;
  background-color: white;
  width: 100%;
}
footer .logo {
  text-align: center;
  padding: 0 10px 0 0;
  font-family: "Roboto Mono";
  justify-content: space-between;
  align-items: center;
}
.info {
  font-size: 0.8rem;
  text-align: center;
}

.logo img {
  width: 8vw;
}

@media only screen and (max-width: 768px) {
  main > a:first-of-type {
    margin-right: 1vw;
    padding-right: 1vw;
  }
  .btn {
    font-size: 0.8rem;
    padding: 0.3rem;
    margin: 0.3rem;
  }
  #lists {
    margin: 10vh 0;
  }
  h1.letter-animation {
    font-size: 1rem;
    letter-spacing: 0.3rem;
    margin: 9vh auto 4vh;
  }
  h1.letter-animation:before {
    border-width: 0.1rem 0 0 0.1rem;
  }
  h1.letter-animation:after {
    border-width: 0 0.1rem 0.1rem 0;
  }
  .recipe-block {
    width: 40%;
    height: 30vh;
    margin: 1vh 3vw 1vh 0;
  }
  .title {
    display: block;
  }
  .tag {
    font-size: 0.7rem;
  }
  .tag-cont .tag {
    margin: 0.2rem;
  }
  .scroll-button-L,
  .scroll-button-R {
    width: 4vw;
    font-size: 2rem;
  }
}

@media only screen and (max-width: 600px) {
  .icon {
    margin-right: 20px;
  }

  main > a:first-of-type {
    margin-right: 0.5vw;
    padding-right: 4vw;
  }

  .btn {
    font-size: 0.6rem;
    padding: 0.2rem;
    margin: 0.2rem;
  }
  h1.letter-animation {
    font-size: 1rem;
    letter-spacing: 0.2rem;
    padding: 0.2rem 5vw;
  }

  .recipe-block {
    width: 90%;
    height: 25vh;
    margin: 1vh 2vw 1vh 4vw;
  }

  .title {
    display: block;
  }

  .tag.sort,
  .tag.clear {
    font-size: 0.4rem;
  }

  .tag {
    font-size: 0.7rem;
    margin: 0.2rem;
  }
  .scroll-button-R,
  .scroll-button-L {
    width: 4vw;
    font-size: 1.5rem;
  }
}
