* {
  box-sizing: border-box;
}

nav {
  width: 100vw;
  height: 5.5vh;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding: 0 1rem;
}

.brand {
  display: flex;
  align-items: center;
}

.brand img {
  margin: 2vh 1vw 0 0;
}

.icon {
  width: 8vw;
}
.name {
  width: 13vw;
}
main > a:first-of-type {
  margin-right: 7px;
  padding-right: 7px;
  border-right: 1px solid black;
}
.btn {
  font-family: "Roboto Mono";
  font-size: 15px;
  color: black;
  background-color: none;
  text-decoration: none;
  padding: 3px;
  margin: 4px;
}
#refresh {
  display: inline-block;
  cursor: pointer;
}
#tags {
  text-align: right;
  margin: 1.5vh 0.8vw 0 0;
  border-bottom: 1px solid rgb(53, 53, 53);
  padding-bottom: 0.5vh;
}

.tag {
  display: inline-block;
  background-color: black;
  color: white;
  font-weight: 400;
  font-family: "Roboto Mono";
  padding: 4px;
  margin: 2px;
  font-size: 12px;
  border-radius: 4px;
  margin-bottom: 4px;
}

.sort {
  color: black;
  background-color: white;
  border: 1px solid black;
  margin-bottom: 2px;
  cursor: pointer;
}
.sort:hover {
  background-color: #000000;
  color: #ffffff;
}

#clear-tags {
  position: absolute;
  right: 0.5vw;
  top: 0.5vh;
  background-color: black;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
#lists {
  margin: 4vh 0;
}
h1.letter-animation {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 1.5em;
  font-variant-caps: all-small-caps;
  color: black;
  font-family: "Roboto Mono";
  font-weight: 800;
  text-shadow: 2px 0px 1px rgb(255, 255, 255);
  letter-spacing: 15px;
  position: relative;
  margin: 70px auto 30px;
  width: fit-content;
  padding: 2px 10vw;
  background-color: lightblue;
  box-shadow: 7px 7px 5px rgb(122, 122, 122);
  border-radius: 2px;
  z-index: 1;
}

h1.letter-animation::before {
  content: "";
  position: absolute;
  height: 50%;
  width: 60vw;
  border-color: #000000;
  text-shadow: 1px 1px 2px rgb(122, 122, 122);
  border-style: solid;
  border-width: 2px 0 0 2px;
  top: -15px;
  left: -20px;
}

h1.letter-animation::after {
  content: "";
  position: absolute;
  height: 50%;
  width: 60vw;
  border-color: #000000;
  text-shadow: 1px 1px 2px rgb(122, 122, 122);
  border-style: solid;
  border-width: 0 2px 2px 0;
  bottom: -15px;
  right: -20px;
}

.scroll-wrapper {
  display: flex;
  position: relative;
  justify-content: space-between;
  align-items: center;
}

.recipes-container {
  overflow-x: auto;
  white-space: nowrap;
  flex-grow: 1;
  margin: 0 4vw;
  scroll-behavior: smooth;
  scrollbar-width: none;
  -ms-overflow-style: none;
}

.recipes-container::-webkit-scrollbar {
  display: none;
}

.scroll-button-L,
.scroll-button-R {
  position: absolute;
  z-index: 3;
  width: 3vw;
  height: 23vh;
  background-color: rgb(255 255 255);
  color: rgb(216, 216, 216);
  font-size: 2rem;
  text-align: center;
  font-family: "Roboto Mono";
  font-weight: bold;
  padding-top: 8vh;
  cursor: pointer;
  transition: opacity 0.3s, transform 0.3s;
}
.scroll-button-L {
  left: 0;
}

.scroll-button-R {
  right: 0;
}
.scroll-button-L:hover {
  box-shadow: inset -20px 0px 40px -10px rgb(255, 255, 255),
    15px 0px 30px 6px rgb(255, 255, 255), 40px 0px 40px 2px rgb(255, 255, 255);
}
.scroll-button-R:hover {
  box-shadow: inset 20px 0px 40px -10px rgb(255, 255, 255),
    -15px 0px 30px 6px rgb(255, 255, 255), -40px 0px 40px 2px rgb(255, 255, 255);
}
.scroll-button-L:hover,
.scroll-button-R:hover {
  opacity: 0.8;
  transform: scale(1.2);
  color: rgba(94, 94, 94, 0.376);
}
.recipe-block {
  width: 42vw;
  height: 15vh;
  margin: 1vh 1.5vw;
  background-position: left center;
  background-size: 100%;
  vertical-align: text-bottom;
  display: inline-flex;
  flex-direction: column;
  min-height: 20vh;
  box-shadow: 4px 0px 10px 0px #00000075;
}
.recipe-block:hover {
  opacity: 85%;
  transform: scale(1.005);
}
.title {
  display: inline-block;
  text-decoration: none;
  color: white;
  font-family: "Roboto Mono";
  font-weight: 800;
  margin: 0 0 0 1vw;
  text-shadow: 0px 0px 5px black;
  margin-top: 7vh;
  text-wrap: balance;
}

.rm-cont {
  justify-self: right;
  text-align: right;
  flex: 1;
}

.rm {
  display: inline-block;
  height: 20px;
  width: 20px;
  background-color: rgb(255, 255, 255);
  color: rgb(9 7 7);
  font-family: sans-serif;
  font-weight: bold;
  text-align: center;
  padding: 2px;
  padding-top: 4px;
  border-radius: 50%;
  font-size: 12px;
  margin: 4px;
  box-shadow: -3px 3px 9px 1px black;
  visibility: visible;
}
.tag-cont {
  margin-left: 0.8vw;
}

footer {
  position: relative;
  background-color: white;
  width: 100vw;
}
footer .logo {
  text-align: center;
  padding: 0 10px 0 0;
  font-family: "Roboto Mono";
  justify-content: space-between;
  align-items: center;
}
.info {
  font-size: 0.8rem;
  text-align: center;
}

.logo {
  margin-right: auto;
}
.logo img {
  width: 8vw;
}

@media only screen and (max-width: 900px) {
  .recipe-block {
    width: 92vw;
  }
}
