* {
  box-sizing: border-box;
}

nav {
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem;
}

.link {
  font-size: 1.3rem;
  font-family: "Roboto Mono";
  background-color: black;
  color: white;
  padding: 0 2vw 0.2vh;
  margin: 16px;
  text-decoration: none;
  border-radius: 5px;
}
.brand img {
  width: 12vw;
}
img {
  width: 8vw;
}
/* END NAV */

/*START MAIN*/
#cont {
  text-align: center;
  margin: 4vh 0;
}

#add {
  padding: 9px;
}
#add:hover {
  background-color: rgb(0, 0, 0);
  color: rgb(255, 255, 255);
}
#add,
#rurl {
  box-shadow: none;
  background-color: white;
  color: black;
  border: 1px solid black;
  font-family: "Roboto Mono";
  border-radius: 5px;
}

#rurl {
  padding: 0.8vh 0;
  text-align: center;
  width: calc(50% - 12vw);
}

#stat {
  font-family: "Roboto Mono";
  margin-top: 5vh;
  text-align: center;
  width: 100vw;
}

#stat-img {
  width: 40vw;
  height: 24vh;
  border-radius: 50%;
  margin: 2vh;
  border: 15px #d9d9d9 double;
  background-color: #00000094;
  box-shadow: 0 0 20px 5px black;
}

/*RECENTLY ADDED LIST*/
.ra-head {
  display: flex;
  justify-content: space-evenly;
  align-items: flex-end;
}
h1.letter-animation {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 1.5rem;
  font-variant-caps: all-small-caps;
  color: black;
  font-family: "Roboto Mono";
  font-weight: 800;
  text-shadow: 2px 0px 1px rgb(255, 255, 255);
  letter-spacing: 0.5rem;
  position: relative;
  margin: 7vh 2vw 2vh 20vw;
  width: fit-content;
  padding: 0.3rem 3vw;
  background-color: lightblue;
  box-shadow: 3px 3px 5px rgb(122, 122, 122);
  border-radius: 2px;
  z-index: 1;
}
h1.letter-animation::before,
h1.letter-animation::after {
  content: "";
  position: absolute;
  height: 50%;
  width: 60%;
  border-style: solid;
  border-color: #000000;
  text-shadow: 1px 1px 2px rgb(122, 122, 122);
  border-radius: 3%;
}
h1.letter-animation::before {
  border-width: 0.2rem 0 0 0.2rem;
  top: -0.8rem;
  left: -1rem;
}

h1.letter-animation::after {
  border-width: 0 0.2rem 0.2rem 0;
  bottom: -0.8rem;
  right: -1rem;
}
.view-all {
  font-size: 1rem;
  color: rgb(0, 0, 0);
  font-family: "Roboto Mono";
  font-weight: 800;
  font-style: italic;
  text-decoration: none;
}
.scroll-wrapper {
  display: flex;
  position: relative;
  justify-content: space-between;
  align-items: center;
}

.scroll-button-L,
.scroll-button-R {
  position: absolute;
  z-index: 3;
  width: 4vw;
  height: 20vh;
  color: rgb(216, 216, 216);
  font-size: 2rem;
  text-align: center;
  font-family: "Roboto Mono";
  font-weight: bold;
  padding-top: 8vh;
  cursor: pointer;
  transition: opacity 0.3s, transform 0.3s;
}
.scroll-button-L {
  left: 0;
}

.scroll-button-R {
  right: 0;
}

.scroll-button-L:hover,
.scroll-button-R:hover {
  opacity: 0.8;
  transform: scale(1.2);
  color: rgba(94, 94, 94, 0.376);
}

.recipes-container {
  overflow-x: auto;
  white-space: nowrap;
  flex-grow: 1;
  margin: 0 4vw;
  scroll-behavior: smooth;
  scrollbar-width: none;
  -ms-overflow-style: none;
}

.recipes-container::-webkit-scrollbar {
  display: none;
}

.recipe-block {
  width: 40%;
  height: 20vh;
  margin: 1vh 3vw 1vh 0;
  background-position: left center;
  background-size: 100%;
  vertical-align: text-bottom;
  display: inline-flex;
  flex-direction: column;
  min-height: 20vh;
  box-shadow: 4px 0px 10px 0px #00000075;
  background-color: rgb(0 0 0 / 47%);
  background-blend-mode: color;
  background-repeat: no-repeat;
}
.recipe-block:hover,
.title:hover {
  opacity: 85%;
  transform: scale(1.05);
}

.title {
  font-size: 1.5rem;
  display: inline-flex;
  text-decoration: none;
  color: white;
  font-family: "Roboto Mono";
  font-weight: 800;
  margin: 8vh 0 0 0;
  text-shadow: 0px 0px 5px black;
  text-wrap: balance;
  justify-content: center;
  padding: 0 2vw;
}
/*END MAIN*/

/*START FOOTER*/
footer {
  font-size: 0.8rem;
  text-align: center;
  padding: 20px 0;
  font-family: "Roboto Mono";
}
/*END FOOTER*/

/*Tablets*/
@media screen and (max-width: 768px) {
  .title-ra {
    padding: 7vh 0 1vh 0;
    margin: 0;
  }

  .scroll-button-L,
  .scroll-button-R {
    width: 8vw;
    padding-top: 15vh;
    font-size: 1.5rem;
  }

  .recipe-block {
    width: 80vw;
    height: 30vh;
    margin: 1vh auto;
    font-size: 0.8rem;
  }

  .title {
    margin: 14vh 0 0 1vw;
    font-size: 1rem;
  }

  footer {
    bottom: 1vh;
  }
}

/* Mobile Devices */
@media screen and (max-width: 600px) {
  #stat-img {
    width: 18vw;
    height: 18vh;
  }
  .recipes-container {
    overflow-x: hidden; /* Hide horizontal scrollbar */
    white-space: nowrap; /* Prevent recipes from wrapping */
  }

  .recipe-block {
    display: inline-block;
    vertical-align: top;
    white-space: normal; /* Reset white-space property */
  }

  .title {
    margin: 14vh 0 0 1vw;
    font-size: 0.8rem;
  }
}
